---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <!--span class="logo">
    </span-->
    <h1 class="tdbc-ink--secondary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
    <div class="tdbc-mt-md tdbc-row tdbc-row--center-alignitems tdbc-row--center-content ">
      <img src="https://avatars.githubusercontent.com/u/417268?v=4" width='50' height='50' alt="A woman with short hair and glasses smiling and shrugging" />
      <div class="tdbc-lead tdbc-mb-none" >Taught by&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/PKodmad">Pavithra Kodmad</a>(PK)</div>
    </div>
    <div class='tdbc-content-width tdbc-mx-auto'>
      <article class='tdbc-mt-xl tdbc-ml-none tdbc-text-align--left'>
      <h3> Slow websites <a target="_blank" rel="noopener noreferrer" href="">stress our users</a> </h3>
      <p> There's a lot of <a target="_blank" rel="noopener noreferrer"  href="">research</a> out there which talk about how customers percieve speed as they interact with out websites.
      It has been proven that user satisfaction reduces, rage clicking increases and sales on the page decreases if the site performs poorly</p>
      <h3>Performance <a target="_blank" rel="noopener noreferrer"  href="">is everyone's</a> job</h3>
      <p> Good performance culture in front-end teams leads to a great user experience. It's now the responsibility of every developer to know how to identify and fix performance issues in thier code
      All of us should know the basics of measuring performance, using relevant tools and build hands-on knowledge of how to build fast websites</p>
      </article>
      <article class='tdbc-mt-md tdbc-text-align--left'>
      <p><b class='tdbc-ink--secondary'>I want to help you learn this stuff.</b> With the knowledge and experience I've gained over the past few years, I'm building two web performance workshops.</p>
      </article>
      <h3 class='tdbc-mt-md tdbc-ink--primary'>Web performance - Beginners</h3>
      <p><b>Pre-requistes : </b> Should know fundamental Javascript, HTML and CSS.</p>
      <h3 class='tdbc-mt-sm tdbc-ink--primary'>Web performance - Advanced(React)</h3>
      <p><i>Coming soon...</i></p>
      <div class='tdbc-mt-md tdbc-row tdbc-row--center-alignitems tdbc-row--center-content'>
        <img src="https://avatars.githubusercontent.com/u/417268?v=4" width='200' height='200' alt="A woman with short hair and glasses smiling and shrugging" />
      </div>
        <article class='tdbc-mt-sm tdbc-text-align--left tdbc-row--center-alignitems tdbc-row--center-content'>
          <p>Hi, I'm <a href="https://twitter.com/PKodmad" class="tdbc-ink--dark" aria-label="Twitter">Pavithra Kodmad</a>. You should call me PK. I'm a web developer with a decade's worth of experience in the industry.
          I have worked on large scale e-commerce and enterprise systems with a focus on maintaining high performance.
          In our workshops you can ask me questions on how we worked months on end to improve web performance, my experience with percieved performance and other related work. </p>
        </article>
        <article class='tdbc-mt-md tdbc-text-align--left'>
          <h4>Here's some feedback I got from the first iteration of my workshop</h4>
          <img class="tdbc-mt-md" src="https://res.cloudinary.com/dd2ulsil7/image/upload/v1629800420/Screen_Shot_2021-08-24_at_8.20.16_pm_ecgc0o.png" alt="@supminn says - This is what happens when you get to have a productive session @neogcamp! Thank you @PKodmad for helping us understanding @____lighthouse.Worked on improving my portfolio site"/>
          <img class="tdbc-mt-md" src="https://res.cloudinary.com/dd2ulsil7/image/upload/v1629800384/Screen_Shot_2021-08-24_at_8.19.40_pm_ssjns4.png" alt="https://twitter.com/sohamsshah_/status/1429010173834665987?s=20"/>
          <img class="tdbc-mt-md" src="https://res.cloudinary.com/dd2ulsil7/image/upload/v1629800362/Screen_Shot_2021-08-24_at_8.19.16_pm_fpuj50.png" alt="https://twitter.com/gkanishk_/status/1428997730181914633?s=20"/>
        </article>
        <article class='tdbc-mt-lg tdbc-text-align--left'>
          <h4> The next workshop is at </h4>
          <ul>
            <li>
              <a href="https://www.reactindia.io/workshops/2021" target="_blank" rel="noopener noreferrer">React India</a> - Nov 19 2021
            </li>
            <li><a href="mailto:pavithra.kodmad@gmail.com">Contact me</a> to book a workshop at your conference</li>
          </ul>
        </article>
      </div>
      <h2 class='tdbc-mt-md'>Sign up and I'll let you know when the next workshop is scheduled</h2>
      <h3 class='tdbc-mt-sm'>Stay in the loop for blogposts and other performance related news and content!</h3>
      <div class="tdbc-mt-md tdbc-mx-auto tdbc-text-align--left">
        <form name="contact" data-netlify='true' action='success'>
          <div>
            <label for="name" class="tdbc-lead">First Name</label>
            <input type="text" placeholder="Preferred name" id="name" name="name" class="tdbc-text-box">
          </div>
          <div class='tdbc-mt-sm'>
            <label for="email" class="tdbc-lead">Email<span>*</span></label>
            <input type="email" placeholder="you@company.com" id="email" name="email" class="tdbc-text-box" required="">
          </div>
          <div class="tdbc-text-align--center tdbc-mt-sm">
            <button type="submit" class="tdbc-button tdbc-button--secondary">
              <span >Sign Up</span>
            </button>
          </div>
          <div class="tdbc-text-align--center tdbc-mt-sm">No spam, unsubscribe any time.</div>
        </form>
      </div>
  </div>
</header>
<main class="tdbc-container">

{{ content | safe }}

</main>
