<style>
    .tdbc-nav {
        display: flex;
        justify-content: right;
    }
    .tdbc-nav-container {
        padding: 0.25rem 0.5rem;

    }
</style>
<nav  class="tdbc-nav">
    <div class="tdbc-nav-container">
        <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
            <li>
                <a href="/newsletter">Newsletter</a>
            </li>
            {# <li>
                <a href="/blog">Blog</a>
            </li> #}
        </ul>
    </div>
</nav>