---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo:focus,
  .logo:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .logo {
    width: 12vmax;
    height: 150px;
    margin: 0 auto;
  }
  .logo img {
    margin: auto;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      <a href='/'><img src='/img/webperfdev.svg' alt='webperfdev logo' height='125'/></a>
    </span>
    <h1 class="tdbc-ink--secondary tdbc-mb-none">Fast and feasible</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray  tdbc-mx-auto">
      A web performance newsletter with original blogs about various aspects of modern performance measurement and mitigation.
    </h2>
    <div class=" tdbc-row tdbc-row--center-alignitems tdbc-row--center-content ">
      <div class="tdbc-lead tdbc-mb-none" >Written by&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/PKodmad">Pavithra Kodmad</a> (PK)</div>
    </div>
  </div>
</header>
<main class="tdbc-container">
  <div class='tdbc-form-width tdbc-mx-auto'>
    <p>Check out previous editions <a href="https://buttondown.email/pkodmad/archive/" target="_blank" rel="noopener noreferrer">here</a>
    </p>
    <div class="tdbc-mt-md tdbc-mx-auto tdbc-text-align--left">
      <form name="contact" data-netlify='true' action='/success'>
        <div>
          <label for="name" class="tdbc-lead">First Name</label>
          <input type="text" placeholder="Preferred name" id="name" name="name" class="tdbc-text-box">
        </div>
        <div class='tdbc-mt-sm'>
          <label for="email" class="tdbc-lead">Email<span>*</span></label>
          <input type="email" placeholder="you@company.com" id="email" name="email" class="tdbc-text-box" required="">
        </div>
        <div class="tdbc-text-align--center tdbc-mt-sm">
          <button type="submit" class="tdbc-button tdbc-button--secondary">
            <span >Sign Up</span>
          </button>
        </div>
        <div class="tdbc-text-align--center tdbc-mt-sm">No spam, unsubscribe any time.</div>
      </form>
    </div>
  </div>
</main>