---
layout: base.njk
---
{% include 'sitenav.njk' %}
<style>
  .tdbc-post-header {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: left;
  }
</style>

<header class="tdbc-post-header">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md">
      {{ description }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
  </article>
</main>