---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
</style>

<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      <img src='/img/webperfdev.svg' alt='webperfdev logo' height='125' />
    </span>
  </div>
</header>
<main class="tdbc-container">
<div class='tdbc-content-width tdbc-mx-auto'>
    <h2 class='tdbc-ink--secondary tdbc-row--center-alignitems tdbc-row--center-content tdbc-text-align--center'>
        JUST ONE LAST STEP AND YOU ARE SIGNED UP...
    </h2>
    <p class='tdbc-row--center-alignitems tdbc-row--center-content tdbc-text-align--center'>
        Please check your inbox for an email that just got sent. You'll need to click <b>the confirmation link</b> to receive any further emails.
    </p>
    <div class='tdbc-row--center-alignitems tdbc-row--center-content tdbc-text-align--center'>
        If you don't see the email after a few minutes, you might check your spam folder or other filters and add <b>`pkodmad@mail.buttondown.email
`</b> to your contacts.
    </div>
    <div class='tdbc-mt-md tdbc-row--center-alignitems tdbc-row--center-content tdbc-text-align--center'>
        Thanks,
    </div>
    <div class='tdbc-ink--secondary tdbc-row--center-alignitems tdbc-row--center-content tdbc-text-align--center'>
        <i>Pavithra Kodmad</i>
    </div>
</div>
</main>
